<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asia.mapper.orclmapper.CreditFeeRecordMapper">
  <resultMap id="BaseResultMap" type="com.asia.vo.CreditFeeRecord">
    <result column="PAYMENT_ID" jdbcType="DECIMAL" property="paymentId" />
    <result column="OTHER_PAYMENT_ID" jdbcType="VARCHAR" property="otherPaymentId" />
    <result column="ACCT_ID" jdbcType="VARCHAR" property="acctId" />
    <result column="ACC_NBR" jdbcType="VARCHAR" property="accNbr" />
    <result column="CREATED_DATE" jdbcType="DATE" property="createdDate" />
    <result column="PAYMENT_DATE" jdbcType="DATE" property="paymentDate" />
    <result column="AMOUNT" jdbcType="DECIMAL" property="amount" />
    <result column="STATE" jdbcType="DECIMAL" property="state" />
    <result column="STAFF_ID" jdbcType="VARCHAR" property="staffId" />
    <result column="BUSI_CODE" jdbcType="VARCHAR" property="busiCode" />
    <result column="MSG" jdbcType="VARCHAR" property="msg" />
    <result column="REM1" jdbcType="VARCHAR" property="rem1" />
    <result column="REM2" jdbcType="VARCHAR" property="rem2" />
    <result column="REM3" jdbcType="VARCHAR" property="rem3" />
    <result column="REM4" jdbcType="VARCHAR" property="rem4" />
  </resultMap>

  <sql id="Base_Column_List">
    PAYMENT_ID, OTHER_PAYMENT_ID, ACCT_ID, ACC_NBR, CREATED_DATE, PAYMENT_DATE, AMOUNT, 
    `STATE`, STAFF_ID, BUSI_CODE, MSG, REM1, REM2, REM3, REM4
  </sql>
  <insert id="insertCreditFeeRecord" parameterType="com.asia.vo.CreditFeeRecord">
    insert into ACCT.CREDIT_FEE_RECORD
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="paymentId != null">
        PAYMENT_ID,
      </if>
      <if test="otherPaymentId != null">
        OTHER_PAYMENT_ID,
      </if>
      <if test="acctId != null">
        ACCT_ID,
      </if>
      <if test="accNbr != null">
        ACC_NBR,
      </if>
      <if test="createdDate != null">
        CREATED_DATE,
      </if>
      <if test="paymentDate != null">
        PAYMENT_DATE,
      </if>
      <if test="amount != null">
        AMOUNT,
      </if>
      <if test="state != null">
        STATE,
      </if>
      <if test="staffId != null">
        STAFF_ID,
      </if>
      <if test="busiCode != null">
        BUSI_CODE,
      </if>
      <if test="msg != null">
        MSG,
      </if>
      <if test="rem1 != null">
        REM1,
      </if>
      <if test="rem2 != null">
        REM2,
      </if>
      <if test="rem3 != null">
        REM3,
      </if>
      <if test="rem4 != null">
        REM4,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="paymentId != null">
        #{paymentId,jdbcType=DECIMAL},
      </if>
      <if test="otherPaymentId != null">
        #{otherPaymentId,jdbcType=VARCHAR},
      </if>
      <if test="acctId != null">
        #{acctId,jdbcType=VARCHAR},
      </if>
      <if test="accNbr != null">
        #{accNbr,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null">
        #{createdDate,jdbcType=DATE},
      </if>
      <if test="paymentDate != null">
        #{paymentDate,jdbcType=DATE},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="state != null">
        #{state,jdbcType=DECIMAL},
      </if>
      <if test="staffId != null">
        #{staffId,jdbcType=VARCHAR},
      </if>
      <if test="busiCode != null">
        #{busiCode,jdbcType=VARCHAR},
      </if>
      <if test="msg != null">
        #{msg,jdbcType=VARCHAR},
      </if>
      <if test="rem1 != null">
        #{rem1,jdbcType=VARCHAR},
      </if>
      <if test="rem2 != null">
        #{rem2,jdbcType=VARCHAR},
      </if>
      <if test="rem3 != null">
        #{rem3,jdbcType=VARCHAR},
      </if>
      <if test="rem4 != null">
        #{rem4,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="getCntFromOtherPaymentId" parameterType="java.util.HashMap" resultType="java.lang.Long">
    select count(PAYMENT_ID) from ACCT.CREDIT_FEE_RECORD
   where
   OTHER_PAYMENT_ID = #{otherPayMentId}
   and busi_code = #{busiCode}
   and created_date >= trunc(sysdate)
  </select>


  <update id="updateCreditFeeRecord" parameterType="com.asia.vo.CreditFeeRecord">
    update  ACCT.CREDIT_FEE_RECORD t set
      t.state = -1
    where
        PAYMENT_ID = #{paymentId} and  OTHER_PAYMENT_ID= #{otherPaymentId}
  </update>
</mapper>