<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asia.mapper.orclmapper.InfoOverAccuFeeMapper">
    <resultMap id="BaseResultMap" type="com.asia.vo.BillingCycle">
        <result column="BILLING_CYCLE_ID" jdbcType="DECIMAL" property="billingCycleId" />
        <result column="BILLING_CYCLE_TYPE_ID" jdbcType="DECIMAL" property="billingCycleTypeId" />
        <result column="CYCLE_BEGIN_DATE" jdbcType="DATE" property="cycleBeginDate" />
        <result column="CYCLE_END_DATE" jdbcType="DATE" property="cycleEndDate" />
        <result column="BLOCK_DATE" jdbcType="DATE" property="blockDate" />
        <result column="LAST_BILLING_CYCLE_ID" jdbcType="DECIMAL" property="lastBillingCycleId" />
        <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd" />
        <result column="STATUS_DATE" jdbcType="DATE" property="statusDate" />
    </resultMap>
    <sql id="Base_Column_List">
    BILLING_CYCLE_ID, BILLING_CYCLE_TYPE_ID, CYCLE_BEGIN_DATE, CYCLE_END_DATE,
    BLOCK_DATE, LAST_BILLING_CYCLE_ID, STATUS_CD, STATUS_DATE
  </sql>
    <select id="selectBillingCyle" parameterType="java.util.HashMap" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from BILLING_CYCLE
        where to_char(CYCLE_BEGIN_DATE,'yyyymmdd') =#{queryMonth}
    </select>
    <select id="selectMobileDataEvent" statementType="STATEMENT" resultType="java.util.HashMap">
    select
    nvl(sum(offer_id4)/100,0) overCharge,nvl(round(sum(bill_measure1)/ 1024 / 1024,2),0) OverData
    from ${tableName}
    where SERV_ID in ${servId}
    and offer_id4 > 0
  </select>
    <select id="selectBillingCyleFromCyleId" parameterType="java.util.HashMap" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from BILLING_CYCLE
        where billing_cycle_id = ${billingCycleId}
    </select>
</mapper>