<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asia.mapper.orclmapper.InfoAccu5gUserMapper">
  <resultMap id="BaseResultMap" type="com.asia.vo.InfoAccu5gUser">
    <result column="SERV_ID" jdbcType="DECIMAL" property="servId" />
    <result column="ACC_NBR" jdbcType="VARCHAR" property="accNbr" />
    <result column="DAY_STREAM" jdbcType="DECIMAL" property="dayStream" />
    <result column="EXEC_DAY" jdbcType="VARCHAR" property="execDay" />
    <result column="TOTAL_STREAM" jdbcType="DECIMAL" property="totalStream" />
    <result column="ALARM_DATE" jdbcType="DATE" property="alarmDate" />
  </resultMap>

  <sql id="Base_Column_List">
    SERV_ID, ACC_NBR, DAY_STREAM, EXEC_DAY, TOTAL_STREAM, ALARM_DATE
  </sql>
  <select id="selectInfoAccu5gUser" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from INFO_ACCU_5G_USER
    where
    ACC_NBR = #{accNbr}
    and to_char(ALARM_DATE,'yyyymm') = #{alarmDate}
  </select>
  <select id="selectInfoAccu5gUserByBeginDate" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from INFO_ACCU_5G_USER
    where
    ACC_NBR = #{accNbr}
    and ALARM_DATE &gt; to_date(#{beginDate},'YYYYMMDDHH24MISS')
    and ALARM_DATE &lt; to_date(#{endDate},'YYYYMMDDHH24MISS')
  </select>
</mapper>