<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asia.mapper.orclmapper.QueryWingPaymentRedPackMapper">
  <select id="QueryWingPaymentRedPack" resultType="java.util.Map">
    select  a.serv_id "servId",amount "amount", a.out_flag "outFlag",a.return_cycle_id "returnCycleId",number_a "rebateCycle"
    FROM YZF_best_return a
    where a.serv_id=#{servId}
  </select>
</mapper>