<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asia.mapper.orclmapper.UmpSmsInfoMapper">
  <resultMap id="BaseResultMap" type="com.asia.vo.UmpSmsInfo">
    <result column="ID" jdbcType="DECIMAL" property="id" />
    <result column="MSISDN" jdbcType="VARCHAR" property="msisdn" />
    <result column="FLAG" jdbcType="VARCHAR" property="flag" />
    <result column="MSG" jdbcType="VARCHAR" property="msg" />
    <result column="STS" jdbcType="CHAR" property="sts" />
    <result column="GET_DATE" jdbcType="DATE" property="getDate" />
    <result column="PARA1" jdbcType="VARCHAR" property="para1" />
    <result column="PARA2" jdbcType="VARCHAR" property="para2" />
    <result column="PARA3" jdbcType="VARCHAR" property="para3" />
    <result column="SEND_DATE" jdbcType="DATE" property="sendDate" />
    <result column="MSG_ID" jdbcType="VARCHAR" property="msgId" />
    <result column="PRI" jdbcType="DECIMAL" property="pri" />
    <result column="ACC_ID" jdbcType="DECIMAL" property="accId" />
    <result column="RECV" jdbcType="VARCHAR" property="recv" />
    <result column="SAVE_HIS_DATE" jdbcType="DATE" property="saveHisDate" />
  </resultMap>

  <sql id="Base_Column_List">
    ID, MSISDN, FLAG, MSG, STS, GET_DATE, PARA1, PARA2, PARA3, SEND_DATE, MSG_ID, PRI, 
    ACC_ID, RECV, SAVE_HIS_DATE
  </sql>
  <select id="selectUmpSmsInfo" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from UMP_SMS_INFO
    where
    MSISDN = #{accNbr}
    and SEND_DATE between to_date(#{beginDate},'yyyymmdd') and to_date(#{endDate},'yyyymmdd')
  </select>
</mapper>