<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.asia.mapper.billmapper.ParamDefineMapper">

    <select id="queryParamName" resultType="java.lang.String">
        SELECT A.name FROM chy_test A WHERE A.ids = #{paramCode}
    </select>
</mapper>