<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds" debug="false">
	<contextName>bill-srv</contextName>
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%contextName]%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>
	<!-- level="off"进行日志关闭 -->
	<root level="info">
		<appender-ref ref="stdout" />
	</root>
	<!-- 已经对root根日志设置,以下日志配置若打开需要注释掉根日志,否者日志将打印两遍 -->
	<!-- <logger name="org.springframework" level="info" additivity="false">
        <appender-ref ref="stdout" />
    </logger>
	<logger name="org.apache.zookeeper" level="info" additivity="true">
		<appender-ref ref="stdout" />
	</logger>
	<logger name="com.asia" level="info" additivity="true">
		<appender-ref ref="stdout" />
	</logger> -->

	
</configuration>