<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asia.mapper.cpcpmapper.POfferPayPlanInfoMapper">
  <select id="queryPOfferPayPlanInfo" resultType="java.util.Map">
    select a.TOTAL_MONEY,a.CONFER_FLAG
    from p_offer_payplan_info a
    where a.OFFER_ID = #{offer_id} and a.CONFER_FLAG in(1,2)
  </select>

  <select id="selectPOfferPayPlanInfo" resultType="java.util.Map">
    select TOTAL_MONEY totalMoney,return_rule_id returnRuleId
    from p_offer_payplan_info
    where OFFER_ID = #{offer_id} and CONFER_FLAG  = 2
  </select>
</mapper>