<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asia.mapper.billingmapper.ABestPayReturnInfoDetailMapper">
  <select id="queryTotalSubsidies"  resultType="java.lang.String">
   select sum(a.amount) totalSubsidies
   from a_best_pay_return_info_detail a
   where a.best_pay_return_id=#{bestPayReturnId}
  </select>
  <select id="queryRealPerformMonth"  resultType="java.lang.String">
    select count(1) totalSubsidies
    from a_best_pay_return_info_detail a
    where a.best_pay_return_id= #{bestPayReturnId}
  </select>
</mapper>